In [1]:
%pylab inline
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

Populating the interactive namespace from numpy and matplotlib

In [27]:
# - are brought in as NaN so that fill_na operation can be done post import
nfl_df = pd.read_csv(filepath_or_buffer="nfl_team_contracts.csv", header=0, na_values='-').fillna(0)

In [6]:
# first step is to replace "-" with zeroes. 
nfl_df.sample(5)

,base_salary,cap_hit,cap_perc,dead_cap_amt,name,option_bonus,other_bonus,position,restruct_bonus,roster_bonus,roster_status,signing_bonus,team,workout_bonus,year
26787,"$6,300","$6,300",0.00,0,Xavier Grimble,0,0,TE,0,0,dead_cap,0,new-england-patriots,0,2014
6530,"$570,000","$756,998",0.39,0,Ian Thomas,0,0,TE,0,0,active,"$186,998",carolina-panthers,0,2019
14349,"$585,000","$665,526",0.31,0,Amani Oruwariye,0,0,CB,0,0,active,"$80,526",detroit-lions,0,2020
3474,"$30,000","$30,000",0.02,0,Charles James,0,0,CB,0,0,dead_cap,0,baltimore-ravens,0,2015
5895,"$52,235","$52,235",0.04,0,Ben Jacobs,0,0,ILB,0,0,dead_cap,0,carolina-panthers,0,2013

In [7]:
nfl_df.isna().sum()

base_salary       0
cap_hit           0
cap_perc          0
dead_cap_amt      0
name              0
option_bonus      0
other_bonus       0
position          0
restruct_bonus    0
roster_bonus      0
roster_status     0
signing_bonus     0
team              0
workout_bonus     0
year              0
dtype: int64

In [5]:
# checking the 7 cap_perc rows that have N/As
sum(nfl_df['cap_perc'].isnull()) # == True

7

In [6]:
nfl_df.loc[nfl_df['cap_perc'].isnull(), :]

# issuue is some values in the tables for cap percentage is inherently mark as "nan" or "inf" in raw data pull. 
# cap_perc -> since it can be derived from the raw absolute figures -> will likely be disregarded.

,base_salary,cap_hit,cap_perc,dead_cap_amt,name,option_bonus,other_bonus,position,restruct_bonus,roster_bonus,roster_status,signing_bonus,team,workout_bonus,year
251,"$500,000",-,NaN,-,Ben Graham,-,-,P,-,-,active,-,arizona-cardinals,-,2010
10679,"$550,000",-,NaN,-,Jay Moore,-,-,LB,-,-,active,-,dallas-cowboys,-,2010
17204,"$395,000",-,NaN,-,Kyle DeVan,-,-,G,-,-,active,-,indianapolis-colts,-,2010
17205,"$320,000",-,NaN,-,Joe Reitz,-,-,G,-,-,active,-,indianapolis-colts,-,2010
36878,"$2,956,000",-,NaN,-,Stacy Andrews,-,-,G,-,-,active,-,seattle-seahawks,-,2010
36879,"$320,000",-,NaN,-,Lemuel Jeanpierre,-,-,C,-,-,active,-,seattle-seahawks,-,2010
38206,"$470,000",-,NaN,-,James Lee,-,-,T,-,-,active,-,tampa-bay-buccaneers,-,2010

In [8]:
nfl_df['name'].str.contains('$', regex=False).sum()

0

In [11]:
nfl_df['name'].str.contains(',', regex=False).sum()

8

In [ ]:
nfl_df = nfl_df.replace(to_replace='-', value=0)

In [28]:
# substitute "-"/dashes with zeroes
# nfl_df = nfl_df.replace(to_replace='-', value=0)
# replace $-sign and comma with empty spaces

nfl_df = nfl_df.replace(to_replace='[\$,]', value='', regex=True)

In [ ]:
# nfl_df.applymap(lambda  )

In [14]:
#
#nfl_df[['base_salary', 'cap_hit', 'option_bonus', 'other_bonus','option_bonus', 'restruct_bonus', 'roster_bonus', 'signing_bonus', 'workout_bonus']]\
#    = nfl_df[['base_salary', 'cap_hit', 'option_bonus', 'other_bonus','option_bonus', 'restruct_bonus', 'roster_bonus', 'signing_bonus', 'workout_bonus']].astype(float)

ValueError: could not convert string to float: '- '

In [4]:
def str_contains_dash(string_input: str) -> bool:
    if type(string_input) in (int, float):
        return False
    else:
        return string_input.find("-") != -1
    
nfl_df.applymap(func=str_contains_dash).sum()

base_salary           0
cap_hit             191
cap_perc              0
dead_cap_amt          0
name                451
option_bonus          0
other_bonus           7
position              0
restruct_bonus        0
roster_bonus          0
roster_status         0
signing_bonus         2
team              41897
workout_bonus         0
year                  0
dtype: int64

In [15]:
nfl_df[['cap_hit', 'signing_bonus', 'other_bonus']].applymap(str_contains_dash)

       cap_hit  signing_bonus  other_bonus
0        False          False        False
1        False          False        False
2        False          False        False
3        False          False        False
4        False          False        False
...        ...            ...          ...
41892    False          False        False
41893    False          False        False
41894    False          False        False
41895    False          False        False
41896    False          False        False

[41897 rows x 3 columns]

In [19]:
mask = nfl_df[['other_bonus']].applymap(str_contains_dash).any(axis='columns')
nfl_df[mask]

,base_salary,cap_hit,cap_perc,dead_cap_amt,name,option_bonus,other_bonus,position,restruct_bonus,roster_bonus,roster_status,signing_bonus,team,workout_bonus,year
20987,5750000,8675000,7.96,0,Philip Rivers,1325000,-1300000,QB,1625000,0,active,1275000,los-angeles-chargers,0,2007
21031,6500000,9675000,8.34,0,Philip Rivers,1325000,-1050000,QB,1625000,0,active,1275000,los-angeles-chargers,0,2008
22496,1235000,9482500,7.65,0,Chris Long,4050000,-1852500,DE,6050000,0,active,0,los-angeles-rams,0,2011
22565,10310000,19007500,15.76,0,Chris Long,4500000,-1852500,DE,6050000,0,active,0,los-angeles-rams,0,2012
31667,7045000,10873833,8.81,1666666,Darren McFadden,0,-844333,RB,3006500,1666666,active,0,oakland-raiders,0,2011
31726,5650000,9478833,7.86,1666666,Darren McFadden,0,-844333,RB,3006500,1666666,active,0,oakland-raiders,0,2012
31813,5856250,9685084,7.58,1666668,Darren McFadden,0,-844334,RB,3006500,1666668,active,0,oakland-raiders,0,2013

In [27]:
mask = nfl_df[['cap_hit']].applymap(str_contains_dash).any(axis='columns')
nfl_df[mask]

,base_salary,cap_hit,cap_perc,dead_cap_amt,name,option_bonus,other_bonus,position,restruct_bonus,roster_bonus,roster_status,signing_bonus,team,workout_bonus,year
183,500000,-,0.0,0,Ben Graham,0,0,P,0,0,active,0,arizona-cardinals,0,2009
251,500000,-,NaN,0,Ben Graham,0,0,P,0,0,active,0,arizona-cardinals,0,2010
721,435000,-,0.0,0,Gabe Martin,0,0,ILB,0,0,active,0,arizona-cardinals,0,2015
722,0,-,0.0,0,Jason Babin,0,0,DE,0,0,active,0,arizona-cardinals,0,2015
1547,2000000,-,0.0,0,Chauncey Davis,0,0,DE,0,0,active,750000,atlanta-falcons,0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41886,0,-,0.0,0,Paul Adams,0,0,T,0,0,active,0,washington-redskins,0,2020
41887,0,-,0.0,0,Ryan Bee,0,0,DT,0,0,active,0,washington-redskins,0,2020
41888,0,-,0.0,0,Emanuel Hall,0,0,WR,0,0,active,0,washington-redskins,0,2020
41889,0,-,0.0,0,Cameron Malveaux,0,0,DE,0,0,active,0,washington-redskins,0,2020
41890,0,-,0.0,0,Jordan Veasy,0,0,WR,0,0,active,0,washington-redskins,0,2020

In [31]:
nfl_df.dtypes
nfl_df[(nfl_df['year'] != 2020) & mask]

,base_salary,cap_hit,cap_perc,dead_cap_amt,name,option_bonus,other_bonus,position,restruct_bonus,roster_bonus,roster_status,signing_bonus,team,workout_bonus,year
183,500000,-,0.0,0,Ben Graham,0,0,P,0,0,active,0,arizona-cardinals,0,2009
251,500000,-,NaN,0,Ben Graham,0,0,P,0,0,active,0,arizona-cardinals,0,2010
721,435000,-,0.0,0,Gabe Martin,0,0,ILB,0,0,active,0,arizona-cardinals,0,2015
722,0,-,0.0,0,Jason Babin,0,0,DE,0,0,active,0,arizona-cardinals,0,2015
1547,2000000,-,0.0,0,Chauncey Davis,0,0,DE,0,0,active,750000,atlanta-falcons,0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40570,285000,-,0.0,0,Chris Wilson,0,0,LB,0,0,active,0,washington-redskins,0,2007
40616,370000,-,0.0,0,Chris Wilson,0,0,LB,0,0,active,0,washington-redskins,0,2008
40667,460000,-,0.0,0,Chris Wilson,0,0,LB,0,0,active,0,washington-redskins,0,2009
41245,0,-,0.0,0,Cary Williams,0,0,CB,0,0,active,0,washington-redskins,0,2015
41654,0,-,0.0,0,Chris Cooper,0,0,S,0,0,practice_squad,0,washington-redskins,0,2018

In [32]:
mask = nfl_df[['signing_bonus']].applymap(str_contains_dash).any(axis='columns')
nfl_df[mask]

,base_salary,cap_hit,cap_perc,dead_cap_amt,name,option_bonus,other_bonus,position,restruct_bonus,roster_bonus,roster_status,signing_bonus,team,workout_bonus,year
31735,612500,2804412,2.33,0,Ron Bartell,0,0,CB,0,0,active,-108088,oakland-raiders,0,2012
39645,700000,393750,0.33,0,Zac Diles,0,0,ILB,0,0,injured_reserve,-306250,tennessee-titans,0,2012

In [29]:
nfl_df[['base_salary', 'option_bonus', 'other_bonus','option_bonus', 'restruct_bonus', 'roster_bonus', 'signing_bonus', 'workout_bonus']] = \
    nfl_df[['base_salary', 'option_bonus', 'other_bonus','option_bonus', 'restruct_bonus', 'roster_bonus', 'signing_bonus', 'workout_bonus']].apply(pd.to_numeric)

In [30]:
nfl_df.dtypes

base_salary         int64
cap_hit            object
cap_perc          float64
dead_cap_amt       object
name               object
option_bonus        int64
other_bonus         int64
position           object
restruct_bonus      int64
roster_bonus        int64
roster_status      object
signing_bonus       int64
team               object
workout_bonus       int64
year                int64
dtype: object

In [31]:
nfl_df = nfl_df.astype({'team': 'category', 'position': 'category', 'roster_status': 'category'})

In [32]:
nfl_df.dtypes

base_salary          int64
cap_hit             object
cap_perc           float64
dead_cap_amt        object
name                object
option_bonus         int64
other_bonus          int64
position          category
restruct_bonus       int64
roster_bonus         int64
roster_status     category
signing_bonus        int64
team              category
workout_bonus        int64
year                 int64
dtype: object

In [33]:
nfl_df['bonus_total'] =nfl_df[['option_bonus', 'other_bonus','option_bonus', 'restruct_bonus', 'roster_bonus', 'signing_bonus', 'workout_bonus']].apply(func=sum, axis='columns')

In [35]:
nfl_df['total_money'] = nfl_df['base_salary'] + nfl_df['bonus_total']

In [37]:
nfl_df.loc[nfl_df['year'] == 2019, :].groupby('position').mean()['total_money'].sort_values(ascending=False)

position
LT     6.529224e+06
QB     3.926725e+06
RT     2.705796e+06
SS     2.642289e+06
FS     2.443230e+06
C      1.882187e+06
DE     1.852862e+06
ILB    1.840445e+06
OLB    1.786370e+06
G      1.718488e+06
CB     1.605054e+06
DT     1.564459e+06
WR     1.397259e+06
K      1.330388e+06
TE     1.106909e+06
P      1.018012e+06
RB     8.770254e+05
FB     7.312014e+05
LS     6.637931e+05
S      4.196757e+05
LB     3.485929e+05
T      2.892217e+05
KR              NaN
PR              NaN
Name: total_money, dtype: float64

In [38]:
nfl_df.loc[nfl_df['year'] == 2019, :]['position'].value_counts()

WR     527
CB     402
DE     292
RB     272
DT     267
TE     257
G      228
OLB    224
S      182
T      179
QB     171
ILB    149
LB     131
C      111
FS      76
RT      72
K       62
SS      61
P       52
LS      45
LT      44
FB      39
KR       0
PR       0
Name: position, dtype: int64

In [40]:
nfl_df.loc[nfl_df['year'] != 2020, :].groupby(['year', 'position']).mean()['total_money']

year  position
2007  C           9.838218e+05
      CB          1.158638e+06
      DE          1.646297e+06
      DT          1.492320e+06
      FB          4.531301e+05
                      ...
2019  S           4.196757e+05
      SS          2.642289e+06
      T           2.892217e+05
      TE          1.106909e+06
      WR          1.397259e+06
Name: total_money, Length: 312, dtype: float64

In [42]:
nfl_df.loc[nfl_df['year'] == 2017, :].groupby('position').mean()['total_money'].sort_values(ascending=False)

position
LT     3.793634e+06
QB     3.684463e+06
FS     2.146900e+06
RT     1.828583e+06
SS     1.774645e+06
G      1.587254e+06
DT     1.569139e+06
P      1.553796e+06
C      1.516144e+06
DE     1.498598e+06
OLB    1.422049e+06
CB     1.343635e+06
WR     1.214940e+06
TE     1.154193e+06
K      1.092308e+06
ILB    1.083745e+06
RB     8.944164e+05
LB     6.874380e+05
LS     6.143754e+05
FB     5.949891e+05
S      3.145275e+05
T      2.238998e+05
KR              NaN
PR              NaN
Name: total_money, dtype: float64

In [46]:
nfl_df.loc[(nfl_df['year'] == 2019) & (nfl_df['position'] == 'QB'), : 'total_money'].plot.hist()

In [51]:
nfl_df.loc[(nfl_df['year'] == 2019) & (nfl_df['position'] == 'QB'), : ]['total_money'].plot.hist()

In [52]:
nfl_df.loc[(nfl_df['year'] == 2019) , : ]['total_money'].plot.hist()