In [1]:
%pylab inline
import pandas as pd
from pandas import DataFrame, Series

Populating the interactive namespace from numpy and matplotlib

In [4]:
df = pd.read_csv('nfl_team_contracts.csv')

In [5]:
df.sample(5)

,base_salary,cap_hit,cap_perc,dead_cap_amt,name,option_bonus,other_bonus,position,restruct_bonus,roster_bonus,roster_status,signing_bonus,team,workout_bonus,year
102,"$24,000","$24,000",0.01,-,Pita Taumoepenu,-,-,OLB,-,-,dead_cap,-,Arizona Cardinals,-,2019
22,"$805,000","$1,000,000",0.52,-,Cassius Marsh,-,-,OLB,-,-,active,"$195,000",Arizona Cardinals,-,2019
83,"$121,823","$121,823",0.06,-,Darrell Daniels,-,-,TE,-,-,dead_cap,-,Arizona Cardinals,-,2019
87,"$104,000","$104,000",0.05,-,Jalen Davis,-,-,CB,-,-,dead_cap,-,Arizona Cardinals,-,2019
19,"$1,072,059","$1,072,059",0.55,-,Kenyan Drake,-,-,RB,-,-,active,-,Arizona Cardinals,-,2019

In [6]:
df.dtypes

base_salary        object
cap_hit            object
cap_perc          float64
dead_cap_amt       object
name               object
option_bonus       object
other_bonus        object
position           object
restruct_bonus     object
roster_bonus       object
roster_status      object
signing_bonus      object
team               object
workout_bonus      object
year                int64
dtype: object

In [12]:
df['cap_hit'] = df['cap_hit'].replace(to_replace='[\$,]', value='', regex=True).astype(float)

In [13]:
df['cap_hit']

0      14833333.0
1      11750000.0
2       9656250.0
3       9625000.0
4       8002235.0
          ...
124      493235.0
125      453000.0
126      380333.0
127      151764.0
128      136000.0
Name: cap_hit, Length: 129, dtype: float64

In [14]:
df.groupby('roster_status').sum()['cap_hit']

roster_status
active      118348287.0
dead_cap     50866166.0
injured      22278474.0
Name: cap_hit, dtype: float64